<p style="color: green"><%= notice %></p>

<h1>Users</h1>

<%= turbo_stream_from "users" %>

<div>
  <ul id="users">
    <%= render @users %>
  </ul>
</div>

<%= link_to "New user", new_user_path, data: { "turbo-frame": "modal" }, class: "bg-blue-500 hover:bg-blue-700 text-white py-1 px-4 rounded my-3 mx-1" %>
