<p style="color: green"><%= notice %></p>

<h1>Users</h1>

<%= turbo_stream_from "users" %>

<div>
  <ul id="users">
    <%= render @users %>
  </ul>
</div>

<%= link_to "New user", new_user_path, data: { "turbo-frame": "modal" } %>
